.dark-high-contrast {
  --md-sys-color-primary: rgb(188 255 214);
  --md-sys-color-surface-tint: rgb(145 213 173);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(141 209 169);
  --md-sys-color-on-primary-container: rgb(0 14 6);
  --md-sys-color-secondary: rgb(222 246 228);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(177 200 183);
  --md-sys-color-on-secondary-container: rgb(0 14 6);
  --md-sys-color-tertiary: rgb(218 244 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(160 201 217);
  --md-sys-color-on-tertiary-container: rgb(0 13 19);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(15 21 17);
  --md-sys-color-on-background: rgb(223 228 221);
  --md-sys-color-surface: rgb(15 21 17);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(64 73 67);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(233 242 233);
  --md-sys-color-outline-variant: rgb(188 197 189);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(223 228 221);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(5 83 52);
  --md-sys-color-primary-fixed: rgb(172 242 200);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(145 213 173);
  --md-sys-color-on-primary-fixed-variant: rgb(0 21 10);
  --md-sys-color-secondary-fixed: rgb(208 232 215);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(181 204 187);
  --md-sys-color-on-secondary-fixed-variant: rgb(2 21 11);
  --md-sys-color-tertiary-fixed: rgb(191 233 249);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(164 205 221);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 20 26);
  --md-sys-color-surface-dim: rgb(15 21 17);
  --md-sys-color-surface-bright: rgb(76 81 77);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(27 33 29);
  --md-sys-color-surface-container: rgb(44 50 46);
  --md-sys-color-surface-container-high: rgb(55 61 56);
  --md-sys-color-surface-container-highest: rgb(66 72 68);
}
