.light-medium-contrast {
  --md-sys-color-primary: rgb(0 63 38);
  --md-sys-color-surface-tint: rgb(38 106 73);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(55 121 87);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(38 59 46);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(92 114 100);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(14 59 72);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(75 115 129);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(246 251 244);
  --md-sys-color-on-background: rgb(23 29 25);
  --md-sys-color-surface: rgb(246 251 244);
  --md-sys-color-on-surface: rgb(13 18 15);
  --md-sys-color-surface-variant: rgb(220 229 220);
  --md-sys-color-on-surface-variant: rgb(48 56 50);
  --md-sys-color-outline: rgb(76 85 78);
  --md-sys-color-outline-variant: rgb(102 111 104);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(44 50 46);
  --md-sys-color-inverse-on-surface: rgb(237 242 236);
  --md-sys-color-inverse-primary: rgb(145 213 173);
  --md-sys-color-primary-fixed: rgb(55 121 87);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(26 96 64);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(92 114 100);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(68 90 76);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(75 115 129);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(50 90 104);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(194 200 194);
  --md-sys-color-surface-bright: rgb(246 251 244);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(240 245 238);
  --md-sys-color-surface-container: rgb(228 234 227);
  --md-sys-color-surface-container-high: rgb(217 222 216);
  --md-sys-color-surface-container-highest: rgb(206 211 205);
}
